<%- include('../partials/header') %>
<h2>Add a New Coin</h2>
<form action="/coins" method="POST">
    <label>Name:
      <input type="text" name="name">
    </label><br>
    <label>Symbol:
      <input type="text" name="symbol">
    </label><br>
    <label>Price USD
        <input type="number" name="price_usd">
    </label><br>
    <label> Amount:
      <input type="number" name="amount">
    </label><br>
    <label> Rank:
        <input type="number" name="rank">
      </label><br>
    <button type="submit">Add Coin</button>
  </form>
<%- include('../partials/footer') %>